* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 70rem;
	background-color: #1f1f38;

}

#hello {
	margin-top: 6rem;
	font-weight: bold;
}

#jayson {
	font-size: 2rem;
	font-weight: 500;
}

#my-pic {
	background-color: #4db5ff;
	padding: 0;
	margin: 0;
}

#my-pic:hover {
	opacity: 0.7;
}


#download-cv {
	width: 40%;
	height: 4rem;
	background-color: rgb(0, 0, 0, 0);
	border: 1px solid #4db5ff;
	color: #4db5ff;
	border-radius: 8px;
	margin: 2rem 0.5rem 2rem;
}

#lets-talk {
	width: 30%;
	height: 4rem;
	background-color: #4db5ff;
	border: 1px solid #4db5ff;
	color: #1f1f38;
	border-radius: 8px;
	margin: 2rem 0.5rem 2rem;
}

#download-cv:hover {
	opacity: 0.7;
}

#lets-talk:hover {
	opacity: 0.7;
}


h5 {
	margin-top: 5px;
	padding: 0;
}

#navbar {
	height: 5rem;
	border-radius: 5rem;
	opacity: 0.7;
	position: fixed;
	bottom: 50px;

}

#navbar a {
	height: 48px;
	width: 48px;
	border-radius: 48px;
}

#navbar a:hover {
	height: 48px;
	width: 48px;
	border-radius: 48px;
	background-color: #4db5ff;
}

#footer {
	padding-top: 3rem;
	padding-bottom: 8rem;
	background-color: #4db5ff;
}

#zuitt {
	color: #1f1f38;
}

#zuitt:hover {
	opacity: 0.7;
}

#navbar-2-container p {
	color: #1f1f38;
	font-size: .8rem;
}

#navbar-2-container p:hover {
	opacity: 0.7;
}

#social-media h2{
	color: #1f1f38;
}

#social-media h2:hover{
	opacity: 0.7;
}

#c-item {
	height: 300px;
	background-color: #2c2c6c;
	border-radius: 50px;
	margin-bottom: 200px;
}

#c-item img {
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 60px;
	width: 60px;
	align-items: top;
}







